<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/client/conta/css/conta.css">
        <title>Login</title>
    </head>
    <body>
        <div id="container">
            <header>
                <a id="titulo" href="/">SGE: Sistema de Gestão Escolar</a>
                <nav>
                    <ul>
                        <li>
                            <a href="/contato/">Contato</a>
                        </li>
                        <li>
                            <a href="/conta/login/">Login</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <section id="formTitulo">
                    <h1>Vincule Professor à Disciplina</h1>
                </section>
                <form method="POST" action="./">
                    <div>
                        <label for="cpf">CPF do Professor</label><br>
                        <select id="cpf" name="cpf">
                            <% var i = 0 %>
                            <% banco.forEach(function(banco){ %>
                                <% if (i != banco.cpf) { %>
                                    <option name="<%= banco.cpf %>" value="<%= banco.cpf %>"><%= banco.cpf %></option>
                                <% } %>    
                                <% i = banco.cpf %>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="disciplina">ID da Disciplina</label><br>
                        <select id="disciplina" name="disciplina">
                            <% disciplinas = [] %>
                            <% banco.forEach(function(banco){ %>
                                <% if (!disciplinas.includes(banco.id)) { %>
                                    <% disciplinas.push(banco.id) %>
                                    <option name="<%= banco.id %>" value="<%= banco.id %>"><%= banco.id %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                    <input type="submit" value="Cadastrar"><br><br><br>
                    <a href="../">Voltar</a>
                </form>
            </main>
            <footer>
                <p>Página criada por Rafael Petry da Silva, 2021.</p>
            </footer>
        </div>
    </body>
</html>